#title-a {
  transform: translate(30%, -186%);
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(232, 232, 232, 0.15);
}

.styled-table thead tr {
  background-color: #c4c4c4;
  color: #494542;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
/* 
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #3ff142;
}

.linkBtn {
  background-color: white;
  border: 1px solid #3ff142;
  border-radius: 5px;
  color: #3ff142;
  margin: 6px 10px;
  cursor: pointer;
  float: right;
  padding: 4px 8px;
}

.linkBtn:hover {
  color: #494542;
  background-color: #c4c4c4;
  box-shadow: 0 0 10px 5px rgba(232, 232, 232, 0.2);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: deeppink;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.userActionBtn {
  border: 1px solid #3ff142;
  border-radius: 5px;
  color: #3ff142;
  margin: 6px 10px;
  cursor: pointer;
  padding: 4px 8px;
  background-color: transparent;
}

.userActionBtn:hover {
  color: #494542;
  background-color: #c4c4c4;
  box-shadow: 0 0 10px 5px rgba(232, 232, 232, 0.2);
}

.links {
  margin-top: 5rem;
}
