* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
html,
body {
  height: 100%;
} */

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 56, 56);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 2rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 1rem 0;
}

nav .active {
  color: #3ff142;
}

nav .active:hover {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline;
}

nav li {
  display: inline;
  margin: 0 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

h1 {
  color: #3ff142;
  font-size: 4rem;
  margin: 0;
}

h2 {
  color: #ffffff;
  font-size: 4rem;
  transform: translate(40%, -100%);
  z-index: -1;
}

.links {
  transform: translate(0, 0);
}

.off-white {
  color: #c4c4c4;
}

.center {
  text-align: center;
}

.mg-2 {
  margin: 2rem 0;
}

.mg-2-5 {
  margin: 2rem 0.5rem;
}

.mg-2-2 {
  margin: 2rem 2rem;
}

h3 {
  color: #c4c4c4;
  font-size: 1.5rem;
  transform: translateY(-300%);
}

.logo {
  max-width: 90%;
  image-rendering: -moz-crisp-edges;
}

.error {
  background: deeppink;
  padding: 0.5rem 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

#newUrl,
.newUrl {
  color: deeppink;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

#newUrl a,
.newUrl a {
  color: inherit;
  cursor: pointer;
}

#newUrl a:hover,
.newUrl a:hover {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.create {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding-bottom: 1rem;
  background: none;
  border: none;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom-color 0.3s ease-in-out;
  caret-color: #3ff142;
}

.input:focus {
  outline: none;
  border-bottom-color: #3ff142;
}

.input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.create {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: rgb(56, 56, 56);
  border: none;
  background-color: #3ff142;
  padding: 0.75em 1.25rem;
  box-shadow: 3px 3px 0 0 #ffffff;
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;
}

.create:hover {
  box-shadow: 0 0 0 0 #ffffff;
}

.created {
  color: #ffffff;
}

.created a {
  color: inherit;
}

.hidden {
  display: none;
}

.login {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: rgb(56, 56, 56);
  border: none;
  background-color: #3ff142;
  padding: 0.75em 1.25rem;
  box-shadow: 3px 3px 0 0 #ffffff;
  transition: box-shadow 0.2s ease-in-out;
  width: 30%;
}

#create-account {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #c4c4c4;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}

.linkBtn {
  background-color: white;
  border: 1px solid #3ff142;
  border-radius: 5px;
  color: #3ff142;
  margin: 6px 10px;
  cursor: pointer;
  float: right;
  padding: 4px 8px;
}

.linkBtn:hover {
  color: #494542;
  background-color: #c4c4c4;
  box-shadow: 0 0 10px 5px rgba(232, 232, 232, 0.2);
}
